.sidebar {
    grid-area: nav;
    background-color: aqua;
}

.item  {
    padding-top: 10px;
    padding-left: 10px;
}
.item a {
    color: darkblue;
    text-decoration: none;

}
.item a.active {
    color: chartreuse;

}