.sidebar {
    grid-area: nav;
    background-color: aqua;
    color: darkblue;

}

.item  {
    padding-top: 10px;
    padding-left: 10px;
}
.item a {
    text-decoration: none;
    font-weight:bold;

}
.item a.active {
    color: chartreuse;

}
.frendLink {
    padding: 10px;
    font-size: 30px;
    margin-top: 20%;
}
.frendBar {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;

}
.frtndItem {
    padding: 5px;
}
.frtndItem img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}