.grid {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-areas:
          "header header header"
          "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

